.Cart-Card
{ 
    width: 90%;
    height: 180px;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.538);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-card
{
     width: 105%;
     height: 120px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 20px;
     gap: 8px;
}
.left-card img{
    width: 30%;
    height: 110px;
    padding: 10px;
    display: flex;
    /* flex-direction: column; */
    gap: 8px;

}
.left-card span
{ 
    width: 100%;
    font-size: 18px;
    gap:8px;
    display: flex;
    flex-direction: column;
}
.right-card button
{
    padding: 11px;
    background-color: rgb(213, 39, 39);
    color: white;
    border: none;
    border-radius:8px;
    font-size: 17px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    margin-right: 12px;
}
.right-card button:hover
{
    opacity: 0.6;
    transition: 0.1s all ease;
}