.product
{
    width: 250px;
    height: 390px;
    padding: 10px;
    margin-left: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.548);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 10px;
    transition: all 0.3s ease;

}

.product:hover {
  transform: translateY(-8px);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
}


.product img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-details
{   width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    padding: 12px;
}
.product-details button
{
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    overflow: hidden;

}
.product-details button:hover
{
    background-color: rgba(0, 0, 0, 0.469);
    transition: 0.1s all ease;
}
