.Cart
{
    width: 100%;
    min-height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px;

}

.img img
{
    width: 100%;
    height: 350px;
}
 .icon
{
    color: rgb(211, 211, 7);

}
.img .hero
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    font-size:35px;
    padding: 5px;
}
.img span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    font-weight: 500;
    margin-top: 10px;

}
.cart-section
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.price-section span
{
    font-size: 20px;
    padding: 60px;
    
}