.form-section
{
    width: 100%;
    min-height: 430px;
    padding: 30px;
    display: flex;
    justify-content:center;
    align-items:center;
    background-image:url("https://plus.unsplash.com/premium_photo-1675842663249-a8b70103dbaa?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Y29udGFjdCUyMHVzfGVufDB8fDB8fHww");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.form-section form{
    min-height: 350px;
    width: 50%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.644);
    padding: 10px;
    background-color: rgb(218, 224, 167);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border-radius: 35px;
    opacity: 0.8;
}
.form-section form input{
    padding: 15px;
    font-size: 16px;
    width: 60%;
    outline: none;
    border: none;
    background: transparent;
    border-radius: 12px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.514);
}
.form-section form textarea
{
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: none;
    resize: none;
    outline: none;
    background: transparent;
    border-radius: 12px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.514);
}
form button
{
    padding: 10px;
    font-size: 18px;
    background-color: rgb(22, 142, 76);
    color: white;
    border-radius: 8px;
    border: none;
    width: 20%;
}