.Home
{
    width: 100%;
    min-height: 100vh;
    background-color: white;

}
.bg-image
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}
.bg-image img
{
    width: 90%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.573);
    border-radius: 20px;
}
.Category-Section
{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap:20px;
  margin-top: 30px;
  padding: 10px;
}
.category-card
{
   width: 150px;
   height: 190px; 
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 10px;
   padding: 10px;
}
.category-card img{
    width: 100%;
    height:70%;
    
}
.category-card:hover
{
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.549);
    border-radius: 10px;
}
h1{
  text-align: center;
   padding: 50px;
   font-size: 35px;
}
.product-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
}
